<div class="card-container">
	<div class="flip-card">
		<div class="click-area"></div>
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<object class="card" type="image/svg+xml" data="images/card.svg"></object>
				</div>
				<div class="flip-card-back">
					
				</div>
			</div>
	</div>
</div>