<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Match 3</title>
	<link rel="stylesheet" href="css/styles.css">
	<script src="/jquery.min.js"></script>
	<script src="/snap.svg-min.js"></script>
	<script src="/js/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
</head>
<body>